body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blinking-cursor::after {
  content: var(--cursor-char, '|');
  animation: blink 1.1s steps(2, start) infinite;
  font-weight: bold;
  margin-left: 4px;
  color: var(--cursor-color, #000);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

